#debugger-container { 
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: column;
}

#debugger-command-bar { 
  display: flex;
  background-color: rgb(30, 30, 30);
}

#debugger-title, #debugger-controls {
  width: 50%;
}

#debugger-title {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#debugger-title-text {
  font-family: sans-serif;
  margin: 0 0 0 15px;
  color: var(--color-malibu);
  font-family: "Roboto", sans-serif;
}

#debugger-controls {
  display: flex;
  justify-content: flex-start;
}

.debugger-command-bar__item {
  margin: 5px 10px;
}

#debugger-editor {
  display: flex; 
  position: relative;
  flex: 1;
  overflow: hidden;
}

#debugger-editor-container, #debugger-canvas-container { 
  width: 50%; 
  height: 100%;
}